html,
body {
    padding: 0px;
    margin: 0px;
    
}

.headpic {
    width: 100%;
}

nav {
    user-select: none;
    background-color: rgba(240, 248, 255, 0);
    width: 100% !important;
}

header {
    user-select: none;
    background-image: url("/images/1690970245-inside-nigerias-booming-streetwear-renaissance-07.png");
    width: 100%;
    height: auto;
    height: 50vw;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    
}

* {
    font-family: "Poppins";
    transition: 0.1s;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-drag: none;
}

.logo {
    width: 10vw;


}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi-arrow-right {

    display: inline-block;
}

.arrow:hover {
    .bi-arrow-right {
        rotate: 390deg;
        transition: 0.3s;
    }
}
.arrow:not(:hover) {
    .bi-arrow-right {
        rotate: -360deg;
        transition: 0.3s;
    }
}
.arrow-slanted{
    rotate:40deg;
}
.description{
    height: 200px;
    padding: 40px 0px 40px 0px;
}
.picture{
    transition: transform .4s;
}
.picture:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.icon-continer{
    width: 300px;
}
.bg-grey{
    background-color: #f0ecec;
}
.bg-green{
    background-color: #182c24;
}
.font-green{
    color: #34614f;
    font-weight: bold;

}
.bg-yellow{
    background: #f0f4d4;
}
.easteregg{
    rotate: -3000deg;
    transition: 5s;
}

.clickable{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

/*sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  main {
    transition: margin-left .5s;

  }
  

  